
 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
 

:root{
    --blue:#4b3eff;
}

*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

a{
    text-decoration: none;
}

 

*::selection{
    background: var(--blue);
    color: #fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;

}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

  .heading{
      text-align: center;
      padding: 1rem;
      padding-top: 6.5rem;
  }

  .heading span{
      display: inline-block;
      font-size: 2.5rem;
      padding: .5rem 7rem;
      color: #444;
      background: #fff;
  }

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
     top:0;
    left: 0;
    padding: 0 2rem;
    background: #444;
    z-index: 1000;
    box-shadow: 0.1rem .3rem rgba(0,0,0,0.3);  
}


header .logo{
    font-size: 2.5rem;
    padding: 1rem 4rem;
    background: #fff;
    color: #444;
}

header .logo i{
    padding: 0 .5rem;
    color: var(--blue);
}

header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

header .navbar ul li a{
    font-size: 2rem;
    color: #fff;
    padding: .5rem 2rem;
    margin-left: 1rem;
    text-decoration: none;
}

header .navbar ul li a.active,
header .navbar ul li a:hover{
    color: #444;
    background: #fff;
}

header #menu{
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    display: none;
}
/* social icons */
#share{
    position: fixed;
    top: 50%;
    right: -30.5rem;
    display: flex;
    transform: translateY(-50%);
    box-shadow: 0 .3rem .5rem rgba(0,0,0,0.3);
    z-index: 1000;
}

#share.share-active{
    right: 0;
}

#share i, #share a{
    font-size: 2rem;
    padding: 1.5rem 2rem;
}

#share i{
    background: #444;
    color: #fff;
    cursor: pointer;
}

#share a{
    background: rgb(255, 255, 255);
    color: rgb(16, 39, 245);
    border-left: .1rem solid rgba(0,0,0,.3);
    cursor: pointer;
}

#share a:hover{
    background: rgb(82, 19, 253);
    color: rgb(253, 253, 253);
}

#share i:hover{
    background: #222;
}


/* home section */

.home{
    min-height: 100vh;
    background: url(../images/home.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
     display: flex;
     justify-content: center;
     align-items: center;
    padding: 1rem 2rem;
    padding-top: 6rem;
}

.home .content{
    width: 45vw;
}

.home .content h1{
    font-size: 5rem;
}

 .home .content p{
     font-size: 1.8rem;
     color: #665;
     padding: 1rem 0;
 }

 .home .content .buttons a:nth-child(2) .btn{
     background: #444;
     margin-left: 1rem;
 }

 .home .content .buttons a:nth-child(2):hover .btn{
     opacity: .7;
 }

 /* feature section */

 .feature{
     min-height: 100vh;
 }

 .feature .box-container{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;
 }

 .feature .box-container .box{
     text-align: center;
     width: 30rem;
     padding: 2rem;
     margin: 2rem;
     border: .1rem solid rgba(0,0,0,0.1);
     box-shadow: 0 0 2rem rgba(0,0,0,0.1);
     cursor: pointer;
 }

 .feature .box-container .box i{
     font-size: 5rem;
     padding: 2rem 0;
     color: var(--blue);
 }

 .feature .box-container .box h3{
     font-size: 2rem;
     color: rgb(108, 108, 114);
 }

 .feature .box-container .box p{
     font-size: 1.2rem;
     color: rgb(68, 72, 80);
     padding: 1rem;
 }
 
 .feature .box-container .box:hover{
   background: rgb(68, 72, 80);  
 }

 .feature .box-container .box:hover p{
   color:cornsilk;  
 }

 .feature .box-container .box:hover i{
   color:cornsilk;  
 }
 /* Screen shot */

 .screen-slider{
     width: 75%;
     margin: 2rem auto;
 }

 .screen-slider .item{
    padding: 2rem;
    margin: 2rem;
    width: 30rem;
 }

 .screen-slider .item img{
     box-shadow: 0 0 1rem rgba(0,0,0,0.2);
     border: .1rem solid rgba(0,0,0,0.1);
     margin: 1rem auto;
 }

/* Review Section */

.review{
    min-height: 100vh;
}

.review .review-slider{
    margin: 2rem auto;
    width: 80%;
}

.review .review-slider .box{
    text-align: center;
    padding: 2rem;
    margin: 2rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0,.1);
    border: .1rem solid rgba(0,0,0,0.1);
}

.review .review-slider .box img{
    height: 10rem;
    width: 10rem;
    margin: 1rem auto;
    border-radius: 50%;
    object-fit: cover;
}

.review .review-slider .box h3{
    color: #444;
    font-size: 2rem;
}

.review .review-slider .box p{
    color: #666;
    font-size: 1.5rem;
    padding: 2rem;
}

/* Plan section */

.plan{
    min-height: 100vh;
    background: #eee;
}

.plan .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.plan .box-container .box{
    margin: 2rem;
    background: #fff;
    text-align: center;
    width: 30rem;
    border: .1rem solid rgba(0,0,0,0.2);
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
}

.plan .box-container .box .title{
    background: var(--blue);
    color: #fff;
    font-size: 2.7rem;
    padding: 1rem 0 ;
}

.plan .box-container .box .price{
    color: #444;
    font-size: 3.5rem;
    padding: 1.5rem 0;
}

.plan .box-container .box .price span{
    font-size: 2rem;
}

.plan .box-container .box .list {
    text-align: left;
    list-style: none;
    padding: 1rem 0;
    padding-left: 8rem;
    
}

.plan .box-container .box .list li{
    font-size: 1.5rem;
    padding: .5rem 0;
    color: #665;
}

.plan .box-container .box .list li .fa-check{
    padding: 0 .3rem;
    color: lime;
}

.plan .box-container .box .list li .fa-times{
    padding: 0 .3rem;
    color: tomato;
}

.plan .box-container .box .btn{
    margin-bottom: 3rem;
    background: rgb(49, 49, 255);
}

.plan .box-container .box .btn:hover{
   opacity: .8;
}

.plan .box-container .box:hover{
   transform: scale(1.10);
}


/* download section */

.download {
    min-height: 100vh;
    background: #222;
}

.download .box-container .box{
    margin: 2rem;
    text-align: center;
    padding: 2rem;
    background: #333;
    box-shadow: 0 .3rem .5rem #000;
    width: 35rem;
}

.download .box-container .box i{
    color: #fff;
    font-size: 5rem;
    padding: 2rem 0;
}

.download .box-container .box h3{
    color: #fff;
    font-size: 2rem;
}

.download .box-container .box p{
    color: #eee;
    font-size: 1.4rem;
    padding: 2rem;
}

.download .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


/* Footer section */

.footer{
    background: #eee;
}

.footer .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer .box-container .box{
    margin: 2rem;
    flex: 1 1 30rem;
}

.footer .box-container .box h3{
    color:var(--blue);
    font-size: 2.5rem;
}

.footer .box-container .box p{
    color: #333;
    font-size: 1.5rem;
    padding: 1rem 0;
 }

.footer .box-container .box:nth-child(2){
    text-align: center;
}

.footer .box-container .box a{
    color: #333;
    font-size: 1.8rem;
    padding: .5rem 0;
    display: block;
}
.footer .box-container .box a:hover{
    text-decoration: underline;
}

.footer .box-container .box form{
    display: flex;
    width: 100%;
}

.footer .box-container .box form input{
    height: 4.5rem;
    width: 100%;
    background: #fff;
    padding: 0 1rem;
    font-size: 1.7rem;
    color: #333;
    border: none;
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.2);
}

.footer .box-container .box form button{
    height: 4.5rem;
    width: 6rem;
    line-height: 4rem;
    text-align: center;
    background: var(--blue);
    font-size: 1.7rem;
    color: #fff;
    border: none;
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.2);
    cursor: pointer;
}



.footer .box-container .box form button:hover{
    background: #333;
}

.footer .credit {
    text-align: center;
    padding: 2rem 1rem;
    font-size: 2rem;
    background: #444;
    color: #ccc;
}

.footer .credit a{
    color: #fff;
}
/* media query */
@media (max-width:991px){
    html{
        font-size: 55%;
    }

    header #menu{
        display: block;
    }

    header .navbar{
        position: fixed;
        top: 5.3rem;
        right: -525px;
        background: #222;
        z-index: 1000;
        width: 35rem;
         
    }

    header .navbar ul{
        flex-flow: column;
        justify-content: center;
        height: 100%;

    }

    header .navbar ul li a{
        display: block;
        font-style: 2.5rem;
        border: .2rem solid #fff;
        margin: 1rem 0;
         
    }

    .fa-times{
        transform: rotate(180deg);
    }

    header .navbar.nav-toggle{
        right: 0;
    }

}

@media (max-width:768px){
    .home{
        flex-flow: column-reverse;
    }

    .home .content{
        padding: 2rem 0;
        width: auto;
    }

    .home .content h1{
        font-size: 4rem;
    }
}

@media (max-width:500px){
    html{
        font-size: 50%;
    }

    header .navbar{
        width: 100vw;
    }

    .home .image img{
        width: 90vw;
    }

    .screen-slider{
        width: 90%;
    }

    .review,.review-slider{
        width: auto;
    }
}